.form-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editForm-cta {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.editForm-cta-button {
    width: 50%;
}

.error-message {
    background-color: rgb(230, 12, 12);
    border-radius: 3px;
    color: white;
    margin-top: 1rem;
    padding: .5rem 1rem;
}