.form-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editForm-cta {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editForm-cta-button {
    width: 49%;
}

.editForm-dates {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

legend {
    margin: 1rem 0;
}
.MuiFormGroup-root.radiogroup {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.MuiFormControlLabel-root.radiolabel {
    width: 25%;
    margin-left: 0;
}

.error-message {
    background-color: rgb(230, 12, 12);
    border-radius: 3px;
    color: white;
    margin-top: 1rem;
    padding: .5rem 1rem;
}