.plan-container {
    min-height: 100vh;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 1rem;
}

.plan-cta {
    display: flex;
    justify-content: space-between;
    background-color: #3f51b5;
    margin: 1rem 0;
    padding: .2rem;
}

.plan-card {
    width: 100%;
}

.link-button .MuiButton-label {
    color: white;
    font-size: .7rem;
}

@media only screen and (min-width: 481px) {
    .link-button .MuiButton-label {
        font-size: .9rem;
    }
    .plan-cta {
        justify-content: space-around;
    }
  }